html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/union_lookout.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(50%); /* 50% brightness = dim */
}

.card {
    background-color: #ffffff !important;
    border-radius: 10px;
}

    .card h4,
    .card h3,
    .card h5 {
        font-weight: 600;
    }

ul {
    list-style-type: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

    ul li {
        margin-bottom: 6px;
    }

.job-card {
    border-radius: 12px;
    background-color: #fff;
}

    .job-card:hover {
        background-color: #f8f9fa;
        transform: translateY(-3px);
        transition: 0.2s ease-in-out;
    }