/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.vertical-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.vertical-nav li {
    margin: 8px 0;
}

.vertical-nav a {
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    color: black;
}

.nav-icon {
    height: 5rem;
    width: 5rem; /* keeps icons square */
    object-fit: contain;
}

.nav-link .nav-icon {
    margin-top: -2px;
}

.vertical-nav .nav-link.active {
    color: #F36C21 !important;
    font-weight: 700;
}

.site-title {
    font-size: 28px;
    font-weight: bold;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
