<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MSIS_4363_Group_Final_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MSIS_4363_Group_Final_Project.styles.css" asp-append-version="true" />
    <style>
        .vertical-nav .nav-link {
            color: #000 !important; /* Make links black */
            font-weight: 500;
        }

            .vertical-nav .nav-link:hover {
                color: #FE5C00 !important; /* OSU orange on hover */
                background-color: #f5f5f5;
                border-radius: 6px;
            }

        .vertical-nav h4 {
            color: #000;
            font-weight: 600;
        }
    </style>
</head>
<body>

    <div class="d-flex layout-wrapper">
        
        <!-- Left Vertical Nav Bar -->
        <nav class="vertical-nav bg-light  border-end d-flex flex-column">

            <div class="text-center align-items-center">
                <img src="~/images/oklahoma_state_university_system_logo.svg.png" width="90" class="mx-2" />
                <h4 class="p-3" style="color:#fe5c00">Cowboy Careers</h4>
            </div>
            
            <!-- Search Bar -->
            <div class="px-3 pb-3">
                <input type="text"
                       class="form-control"
                       placeholder="Search..."
                       style="background-color: #e0e0e0; color: black; border: none;">
            </div>


            <ul class="nav flex-column px-2">

                <li class="nav-item">
                    <a class="nav-link active d-flex align-items-center" asp-page="/Index">
                         <img src="~/images/home-icon.png" class="nav-icon" width="24"/> 
                        <span class="ms-2">Home</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" asp-page="/Job Search">
                        <img src="~/images/search-icon.png" class="nav-icon" width="24" />
                        <span class="ms-2">Job Search</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active d-flex align-items-center" asp-page="/Career Resources">
                        <img src="~/images/web-icon.png" class="nav-icon" width="24"/> 
                        <span class="ms-2">Career Resources</span>
                    </a>
                </li>

            </ul>

            @* <div class="nav-login-box">
                <a href="/Login">Login</a>
            </div> *@
        </nav>


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


    <footer class="bg-light border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MSIS_4363_Group_Final_Project - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>